
<footer{{#unless settings.hideGenerator}} class="with-border-bottom"{{/unless}}>
    <div class="container">
        <h2>{{#localize}}Legend{{/localize}}</h2>
        <div class="tsd-legend-group">
            <ul class="tsd-legend">
                <li class="tsd-kind-module"><span class="tsd-kind-icon">{{#localize}}Module{{/localize}}</span></li>
                <li class="tsd-kind-object-literal"><span class="tsd-kind-icon">{{#localize}}Object literal{{/localize}}</span></li>
                <li class="tsd-kind-variable"><span class="tsd-kind-icon">{{#localize}}Variable{{/localize}}</span></li>
                <li class="tsd-kind-function"><span class="tsd-kind-icon">{{#localize}}Function{{/localize}}</span></li>
                <li class="tsd-kind-function tsd-has-type-parameter"><span class="tsd-kind-icon">{{#localize}}Function with type parameter{{/localize}}</span></li>
                <li class="tsd-kind-index-signature"><span class="tsd-kind-icon">{{#localize}}Index signature{{/localize}}</span></li>
                <li class="tsd-kind-type-alias"><span class="tsd-kind-icon">{{#localize}}Type alias{{/localize}}</span></li>
            </ul>
            <ul class="tsd-legend">
                <li class="tsd-kind-enum"><span class="tsd-kind-icon">{{#localize}}Enumeration{{/localize}}</span></li>
                <li class="tsd-kind-enum-member"><span class="tsd-kind-icon">{{#localize}}Enumeration member{{/localize}}</span></li>
                <li class="tsd-kind-property tsd-parent-kind-enum"><span class="tsd-kind-icon">{{#localize}}Property{{/localize}}</span></li>
                <li class="tsd-kind-method tsd-parent-kind-enum"><span class="tsd-kind-icon">{{#localize}}Method{{/localize}}</span></li>
            </ul>
            <ul class="tsd-legend">
                <li class="tsd-kind-interface"><span class="tsd-kind-icon">{{#localize}}Interface{{/localize}}</span></li>
                <li class="tsd-kind-interface tsd-has-type-parameter"><span class="tsd-kind-icon">{{#localize}}Interface with type parameter{{/localize}}</span></li>
                <li class="tsd-kind-constructor tsd-parent-kind-interface"><span class="tsd-kind-icon">{{#localize}}Constructor{{/localize}}</span></li>
                <li class="tsd-kind-property tsd-parent-kind-interface"><span class="tsd-kind-icon">{{#localize}}Property{{/localize}}</span></li>
                <li class="tsd-kind-method tsd-parent-kind-interface"><span class="tsd-kind-icon">{{#localize}}Method{{/localize}}</span></li>
                <li class="tsd-kind-index-signature tsd-parent-kind-interface"><span class="tsd-kind-icon">{{#localize}}Index signature{{/localize}}</span></li>
            </ul>
            <ul class="tsd-legend">
                <li class="tsd-kind-class"><span class="tsd-kind-icon">{{#localize}}Class{{/localize}}</span></li>
                <li class="tsd-kind-class tsd-has-type-parameter"><span class="tsd-kind-icon">{{#localize}}Class with type parameter{{/localize}}</span></li>
                <li class="tsd-kind-constructor tsd-parent-kind-class"><span class="tsd-kind-icon">{{#localize}}Constructor{{/localize}}</span></li>
                <li class="tsd-kind-property tsd-parent-kind-class"><span class="tsd-kind-icon">{{#localize}}Property{{/localize}}</span></li>
                <li class="tsd-kind-method tsd-parent-kind-class"><span class="tsd-kind-icon">{{#localize}}Method{{/localize}}</span></li>
                <li class="tsd-kind-accessor tsd-parent-kind-class"><span class="tsd-kind-icon">{{#localize}}Accessor{{/localize}}</span></li>
                <li class="tsd-kind-index-signature tsd-parent-kind-class"><span class="tsd-kind-icon">{{#localize}}Index signature{{/localize}}</span></li>
            </ul>
            <ul class="tsd-legend">
                <li class="tsd-kind-constructor tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">{{#localize}}Inherited constructor{{/localize}}</span></li>
                <li class="tsd-kind-property tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">{{#localize}}Inherited property{{/localize}}</span></li>
                <li class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">{{#localize}}Inherited method{{/localize}}</span></li>
                <li class="tsd-kind-accessor tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">{{#localize}}Inherited accessor{{/localize}}</span></li>
            </ul>
            <ul class="tsd-legend">
                <li class="tsd-kind-property tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">{{#localize}}Protected property{{/localize}}</span></li>
                <li class="tsd-kind-method tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">{{#localize}}Protected method{{/localize}}</span></li>
                <li class="tsd-kind-accessor tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">{{#localize}}Protected accessor{{/localize}}</span></li>
            </ul>
            <ul class="tsd-legend">
                <li class="tsd-kind-property tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">{{#localize}}Private property{{/localize}}</span></li>
                <li class="tsd-kind-method tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">{{#localize}}Private method{{/localize}}</span></li>
                <li class="tsd-kind-accessor tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">{{#localize}}Private accessor{{/localize}}</span></li>
            </ul>
            <ul class="tsd-legend">
                <li class="tsd-kind-property tsd-parent-kind-class tsd-is-static"><span class="tsd-kind-icon">{{#localize}}Static property{{/localize}}</span></li>
                <li class="tsd-kind-call-signature tsd-parent-kind-class tsd-is-static"><span class="tsd-kind-icon">{{#localize}}Static method{{/localize}}</span></li>
            </ul>
        </div>
    </div>
</footer>

{{#unless settings.hideGenerator}}
    <div class="container tsd-generator">
        <p>{{#localize}}Generated using{{/localize}} <a href="http://typedoc.org/" target="_blank">TypeDoc</a></p>
    </div>
{{/unless}}